.profile{
    .info-profile{
        display: flex;
        .avatar{
            width: 20%;
            img{
                width: 80%;
                border-radius: 50%;
                margin: auto;
            }
        }
        .user-info{
            width: 80%;
            margin-left: 20px;
        }
    }
}

@media (max-width: 767px) {
    .profile{
        .info-profile{
            display: block !important;
            .avatar{
                width: 100% !important;
                img{
                    width: 100% !important;
                    border-radius: 50%;
                    margin: auto;
                }
            }
            .user-info{
                width: 100%;
                margin-left: 20px;
                display: block !important;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .profile{
        .info-profile{
            .avatar{
                img{
                    border-radius: 50%;
                    margin: auto;
                }
            }
            .user-info{
                font-size: 20px;
                margin-left: 20px;
                text-align: center;
                .title{
                    width: inherit !important;
                }
            }
        }
    }
}