.search-output{
    position: absolute;
    top: 80%;
    left: 16%;
    width: 30%;
    z-index: 999;
    border-radius: 20px;
    text-align: center;
    max-height: 200px;
    overflow-y: scroll;
    background-color: #fff;
    .icon{
        margin: 5px 0 5px 15px;
        font-size: 20px;
    }
}

.close {
    display: none;
}
